<html>
  <head>
    <title>Later</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
  </head>
  <body>
    <div class="container">
      <article>
        <h1><%= article.title %></h1>
        <%- article.content %>
      </article>
    </div>
  </body>
</html>
